.mySwitch .check::after {
    background: #0a87c1!important;
    border-color: #0a87c1!important;
}
.mySwitch input[type="checkbox"]:checked ~ .check {
    background: #0a87c1!important;
}
.mySwitch input[type="checkbox"]:checked ~ .check::after {
    border-color: #ffffff!important;
    background: #ffffff!important;
}

#titre{
    font-size: 2rem;
}

#chevron-l{
    position: absolute;
    top: 50%;
}
#chevron-r{
    position: absolute;
    top: 50%;
    right: 0;
}
#page{
    width: 100vw;
}
#bod-alarme{
    animation: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bod-acc{
    animation: 1s ease-in-out forwards changealarmetoaccueil;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes changealarmetoaccueil {
    from { transform: translateX(-000vw); }
    to   { transform: translateX(-100vw); }
  }

#bod-couleur{
    animation: 1s ease-in-out forwards changecouleurtoaccueil;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes changecouleurtoaccueil {
    from { transform: translateX(-100vw); }
    to   { transform: translateX(-200vw); }
  }

#bod-alarmebis{
    animation: 1s ease-in-out forwards changeaccueiltoalarme;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes changeaccueiltoalarme {
    from { transform: translateX(-100vw); }
    to   { transform: translateX(-000vw); }
  }

#bod-accbis{
    animation: 1s ease-in-out forwards changeaccueiltocouleur;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes changeaccueiltocouleur {
    from { transform: translateX(-200vw); }
    to   { transform: translateX(-100vw); }
  }

  #titre{
    background-color: rgb(49, 52, 58);
    padding: 20px;
    background-color: #dadadaa4;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px;
  }
#palette{
    border-radius: 15px 15px 15px 15px;
    border: solid;
    width: 20%;
    height: 50px;
    transform: scale(1);
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#btn-l{
    color: rgb(49, 52, 58);
    background-color: #dadadaa4;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    z-index: 2;
    transform: scale(1);
}

#btn-r{
    color: rgb(49, 52, 58);
    background-color: #dadadaa4;
    font-weight: bold;
    border-radius: 15px 0 0 15px;
    z-index: 2;
    transform: scale(1);
}
#btn{
    color: rgb(49, 52, 58);
    background-color: #dadadaa4;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px;
    z-index: 2;
    transform: scale(1);
}
#state{
    font-weight: bold;
}

#btn:active{
    background-color: #c0bebea4;
    transform: scale(0.95);
}

#swi{
    padding: 10px;
    border-radius: 15px;
    border-color: black;
    font-size: 20px;
    width: 25vw;
    height : 25vw;
    max-width: 120px;
    max-height: 120px;
    transform: scale(1);
    box-shadow: none;
}

#swi:active,#btn-l:active,#btn-r:active,#palette:active{
    transform: scale(0.95);
}


#load{
    display: none;
    position: absolute;
    top: 0;
    left: 100vw;
    z-index: 5;
    width: 75px;
    height: 75px;
}

.container {
    width: 75px;
    height: 75px;
    overflow: hidden;
  }
  #hourglass {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    /* Scaled it cause it looks cuter */
    transform: scale(0.75);
  }
  #bottom {
    position: absolute;
    top: 36px;
    left: 15px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 36px solid black;
    animation: flipbottom 5s infinite ease-in-out;
    transform-origin: 21px 0px;
    border-radius: 0rem;
  }
  #bottom_two {
    position: absolute;
    top: 36px;
    left: 15px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 36px solid #dadadaa4;
    animation: flipbottom 5s infinite ease-in-out;
    transform-origin: 21px 0px;
    animation-delay: 0.8s;
    border-radius: 0.2rem;
  }
  @keyframes flipbottom {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(190deg) translate(-2px, 2px);
    }
    20% {
      transform: rotate(172deg);
    }
    25% {
      transform: rotate(184deg);
    }
    30% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    60% {
      transform: rotate(370deg) translate(-1px, 1px);
    }
    70% {
      transform: rotate(352deg);
    }
    75% {
      transform: rotate(364deg);
    }
    80% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  